{% extends 'shared/_layout.html' %}
{% load render_partial %}
{% block title %}
 {% load thumbnail %}
ویرایش اطلاعات کاربری
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-4 ">
            {% if user.avatar %}
                <a class="thumbnail">
              {% thumbnail user.avatar "400x300" quality=95 crop='center' as im %}

                  <img   src="{{ im.url }}">

              {% endthumbnail %}
                </a>
            {% else %}
                <img width="100%" src="/static/images/blog/Customer.jpg" alt="">
            {% endif %}
                {% render_partial 'user_panel_module.views.user_panel_menu_component' %}
            </div>
            <div class="col-md-8">
                <form action="{% url 'edit_user_page' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ edit_form.as_p}}
                    <button type="submit" class="btn btn-success">ثبت</button>
                </form>
        </div>
    </div>
</div>


{% endblock %}